@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;

    /* font */

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #dadada;
}

#center {
    position: absolute;
    left: 20%;
    transform: translate(0%, 12%);
    height: 80%;
    width: 60%;
}

.image-container {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 0%;
}

img {
    height: 100%;
}


.text {
    position: absolute;
    top: 18%;
    left: -11%;
    overflow: hidden;
    width: 300px;
    height: 60px;
}

.text h1 {
    top: 100px;
    font-size: 4vw;
    position: absolute;
    z-index: 999;
}